
div {
    padding: 20px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}


h4 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
}

span {
    font-weight: bold;
    color: #007bff;
}


button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #0056b3;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: #fff;
}

td img {
    border-radius: 4px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}



.edit,
.create {
    position: fixed;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 80%;
 
    max-width: 600px;
    
    height: 50vh;
   
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
    position: relative;
   
}


.cancel-button {
    position: absolute;
   
    top: 10px;
    right: 10px;
    background-color: #f44336;
   
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}


.cancel-button:hover {
    background-color: #d32f2f;
}